.section3{
    background: hsl(179, 75%, 43%); 
    border-radius: 0px 0px 8px 0px;
    margin-left: 757.2px;
    padding: 17.5px;
    padding-right: 74px;
    padding-top: 71px;
    width: auto;
}
 
.item__Why{
    color:hsl(204, 43%, 93%);
    font-size: 18px;
    margin-left: 41px;
    margin-top: -35px;
}

.itens{
    color: hsl(204, 43%, 93%);
    font-size: 13px; 
    list-style: none;
    padding: 0.1rem;
    padding-bottom: 3px;
}

@media screen and (max-width:480px) {
    .section3{
        width: 73%;
        padding: 20px;
        position: absolute;
        margin-left: 450px;
        margin-top: 267px;
        padding-top: 52px;
        border-radius: 0px 0px 0px 8px;
    }    
    .item__Why{
        margin-left: 4px;
    }
    .itens{
        margin-left: -27px;
    }
}
